body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 50px;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 40px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="number"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#contenedorPacientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 7em;
    margin: 20px;
}

.tarjetaPaciente {
    grid-gap: 20px;
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 17em;
    text-align: center;
}

.tarjetaPaciente h3 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.tarjetaPaciente h4 {
    color: #777;
    font-size: 1rem;
    margin-bottom: 10px;
}

.tarjetaPaciente button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.tittle {
    text-align: center;
}